# Exploratory Data Analysis

In [2]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [10]:
bat = pd.read_csv('../data/clean/bat.csv').drop(['Unnamed: 0'], axis = 1)
pitch = pd.read_csv('../data/clean/pitch.csv').drop(['Unnamed: 0'], axis = 1)

In [11]:
bat.head(3)

,playerID,yearID,teamID,lgID,G,AB,R,H,2B,3B,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,BA
0,aardsda01,2010,SEA,AL,53,0,0,0,0,0,...,0.0,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.000
1,abadfe01,2010,HOU,NL,22,1,0,0,0,0,...,0.0,0.0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.000
2,abreubo01,2010,LAA,AL,154,573,88,146,41,1,...,24.0,10.0,87,132.0,3.0,2.0,0.0,5.0,13.0,0.255

In [12]:
pitch.head(3)

,playerID,yearID,stint,teamID,lgID,W,L,G,GS,CG,...,IBB,WP,HBP,BK,BFP,GF,R,SH,SF,GIDP
0,aardsda01,2010,1,SEA,AL,0,6,53,0,0,...,5.0,2,2.0,0,202.0,43,19,7.0,1.0,5.0
1,abadfe01,2010,1,HOU,NL,0,1,22,0,0,...,0.0,0,0.0,0,76.0,6,6,0.0,1.0,0.0
2,accarje01,2010,1,TOR,AL,0,1,5,0,0,...,0.0,2,1.0,0,34.0,2,6,0.0,0.0,2.0

In [ ]:
bat